params {

    work_dir = "/$PWD"
    output_dir = "${params.work_dir}/output/out3"

    SE = 'F'
    fastq1 = '/f/mulinlab/jianhua/CRISPRvar/input/test_1.fq'
    fastq2 = '/f/mulinlab/jianhua/CRISPRvar/input/test_2.fq'

    library = '/f/mulinlab/jianhua/CRISPRvar/input/library.csv'
    vector = '/f/mulinlab/jianhua/CRISPRvar/input/vector.txt'

    left_shot = 4
    right_shot = 4
}

timeline { 
    enabled=true
    file = "${params.output_dir}/library_QC_timeline.html"
}

report {
    enabled = true
    file = "${params.output_dir}/library_QC_runtime.html"
}
